<div class="flex flex-row">
    <div class="w-4/5">
        <app-shopping-edit />
        <hr />
        <div class="flex flex-row">
            <div class="flex flex-col w-full">
                <a
                    class="flex border-2 rounded-md items-center justify-between p-4 border-b border-gray-200 hover:bg-gray-50"
                >
                    <div>
                        <h4 class="text-lg font-semibold">Item Name</h4>
                        <p class="text-sm text-gray-500">Item Description</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="w-1/5"></div>
</div>
