@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

@layer components {
    .sidebar-icon {
        @apply relative mt-2 mb-2 mx-auto shadow-lg h-12 w-12 flex items-center justify-center bg-gray-800 text-green-500 hover:bg-green-600 hover:text-white rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear cursor-pointer;
    }

    .sidebar-icon-active {
        @apply rounded-xl bg-green-600 cursor-default text-white;
    }

    .logo-icon {
        @apply relative mt-2 mb-2 shadow-lg h-12 w-12 flex items-center justify-center bg-white text-blue-500 rounded-3xl;
    }

    .sidebar-tooltip {
        @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-left;
    }

    .sidebar-container {
        @apply fixed top-16 left-0 h-screen w-16 m-0 flex flex-col items-center bg-red-500 text-blue-500 shadow-lg dark:bg-gray-900 dark:text-white;
    }

    .navigation-bar {
        @apply fixed pl-2 flex flex-row items-center justify-between bg-gray-900 text-white h-16 w-full px-4;
    }

    .blue-button {
        @apply focus:outline-none text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2;
    }

    .red-button {
        @apply focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2;
    }

    .green-button {
        @apply focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2;
    }
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

.title-red {
    color: red;
}
/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
