<div>
    <strong>By text:</strong>
    <input
        type="text"
        #searchBox
        id="searchbox"
        [(ngModel)]="tempFilter.name"
    /><br />
    <strong>By category:</strong>
    <ul>
        <li *ngFor="let cat of categories" style="list-style-type: none">
            <input
                type="checkbox"
                [(ngModel)]="cat.selected"
                id="{{ cat.name }}"
                (change)="onChange()"
            />
            {{ cat.name }}
        </li>
    </ul>
</div>
<div>
    <button
        type="button"
        id="update"
        class="btn btn-outline-dark"
        (click)="onFilterChanged()"
    >
        Update Filter
    </button>
</div>
